crawl4ai==0.5.0.post8
langchain==0.3.23
langchain_community==0.3.21
langchain_google_genai==2.1.2
nest_asyncio==1.6.0
protobuf==6.30.2
pydantic==2.11.3
PyPDF2==3.0.1
python_docx==1.1.2
streamlit==1.44.1
